.bgGris{
    background-color: rgb(223, 223, 223);
}

.txtGris{
    color: rgb(114, 114, 114);
}

.tableGris {
    border-collapse: collapse;
    width: 100%;
  }
  
th, td {
    text-align: center;
  }
  
th .thGris{
    background-color:  rgb(223, 223, 223);
    color:  rgb(114, 114, 114);
  }