.bgGris{
    background-color: rgb(184, 184, 184);
}

.bgBlanco{
    background-color: rgb(255, 255, 255);
}

.selector{
    padding: 10px;
}

.espacio{
    padding-top: 24px;
}

.pBottomTop{
    padding-bottom: 24px;
    padding-top: 24px;
}