/* Agregando el fondo del navegador*/
.logo{
  background-color: rgb(18, 67, 182);
  
}

.topnav {
  background-color:  rgb(19, 129, 255);
  overflow: hidden;
}

/*Propiedades del texto*/
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Cambiar el color de los enlaces al pasar el mouse */
.topnav a:hover {
  background-color: rgb(162, 159, 194);
  color: black;
}

/*Estilos cuando el enlace está activado*/
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/*Ocultar el enlace que debería abrir y cerrar el topnav en pantallas pequeñas*/
.topnav .icon {
  display: none;
}


/*MEDIA*/
/*Cuando la pantalla tenga menos de 600 píxeles de ancho, oculte todos los enlaces, excepto el primero ("Inicio"). Mostrar el enlace que contiene debe abrir y cerrar el topnav (.icon)*/
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    background-color: rgb(18, 67, 182);
  }
}

/* La clase "responsive" se agrega al topnav con JavaScript cuando el usuario hace clic en el icono. Esta clase hace que el topnav se vea bien en pantallas pequeñas (muestre los enlaces verticalmente en lugar de horizontalmente)*/
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative; }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}